@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
@import 'ccgx-caascont/caascont.css';

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

nav a {
    font-size: 14px;
    color: #020c27;
    display: inline-block;
    font-weight: 400;
    width: auto;
}

.bg-pattern {
    background-color: #f4f4f4;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

footer a {
    color: #4d5056;
    font-weight: 500;
}

.search-bar .caa-sc-ont-button {
    margin: 0;
}

.caa-caascont-hero .content-area {
    margin-top: 12% !important;
}

.caa-caascont-card {
    font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif' !important;
}

.custom-threeColumnCard {
    max-width: initial !important;
}

.custom-twoColumnSection {
    justify-content: center;
}